{% extends "base.html" %}

{% block header %}
<link href="/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block body %}


{% include "topnav.html" %}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/dashboard">My Apps</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="container" style="z-index: 1001">
                {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}


            <h1 class="page-header">Application - {{app.name}}</h1>

            <div class="row">
                <form role="form" action="/app/{{app.name}}" method="POST"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <h2>Global Config</h2>
                        <label for="syncfreq">Sync Frequency (secs)</label>
                        <input type="text" class="form-control"
                               id="syncfreq"
                               value="{{app.sync_freq_secs}}"
                               name="syncfreq" style="width: 320px;">
                    </div>
                    <div class="form-group">
                        <h2>Device Cloud Config</h2>
                        <label for="dcuser">Username</label>
                        <input type="text" class="form-control"
                               id="dcuser"
                               value="{{app.related_dcaccount.username}}"
                               name="dcuser" style="width: 320px;">
                        <label for="dcpass">Password</label>
                        <input type="text" class="form-control"
                               id="dcpass"
                               value="{{app.related_dcaccount.password}}"
                               name="dcpass" style="width: 320px;">
                    </div>


                    <div class="form-group">
                        <h2>Human API Config</h2>
                        <label for="hapiapp">App Key</label>
                        <input type="text" class="form-control"
                               id="hapiapp"
                               value="{{app.related_hapiaccount.app_key}}"
                               name="hapiapp" style="width: 320px;">
                        <label for="hapiclient">Client ID</label>
                        <input type="text" class="form-control"
                               id="hapiclient"
                               value="{{app.related_hapiaccount.client_id}}"
                               name="hapiclient" style="width: 320px;">
                        <button type="submit"
                                class="btn btn-default btn-lg input-lg">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


