{% extends "base.html" %}

{% block header %}
<link href="/css/cover.css" rel="stylesheet">
<script src='https://connect.humanapi.co/connect.js'></script>
{% endblock %}

{% block body %}
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Connected Wearables</h3>
                    <ul class="nav masthead-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="/login">Admin</a></li>
                    </ul>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Connect Your Wearable to the Cloud</h1>

                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download,
                    edit the text, and add your own fullscreen background photo to make it your own.</p>

                <p class="lead">
                    <img id='connect-health-data-btn' src='https://connect.humanapi.co/assets/button/blue.png'/>

                    <script>
                        var connectBtn = document.getElementById('connect-health-data-btn');
                        connectBtn.addEventListener('click', function (e) {
                            var opts = {
                                // grab this from the app settings page
                                clientId: '{{ hapi_client_id }}',
                                // can be email or any other internal id of the user in your system
                                clientUserId: 'UNIQUE_USER_ID_IN_YOUR_APPLICATION',
                                finish: function (err, token) {
                                    // When user finishes health data connection to your app
                                    // `finish` function will be called.
                                    // `token` object will have several fields in it.
                                    // You need to pass this `token` object to your server
                                    // add `CLIENT_SECRET` to it and send `POST` request to the `https://user.humanapi.co/v1/connect/tokens` endpoint.
                                    // In return you will get `accessToken` for that user that can be used to query Human API.
                                },
                                close: function () {
                                    // do something here when user just closed popup
                                    // `close` callback function is optional
                                }
                            }
                            HumanConnect.open(opts);
                        });
                    </script>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
