{% extends "base.html" %}

{% block body %}
<div class="ge-background">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form role="form" action="/login" method="POST"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="input-username">Username</label>
                    <input type="text" class="form-control"
                           id="input-username" placeholder="Username"
                           name="user" style="width: 320px;">
                </div>
                <div class="form-group">
                    <label for="input-pwd">Password</label>
                    <input type="password" class="form-control"
                           id="input-pwd" placeholder="Password"
                           name="passwd" style="width: 320px;">
                </div>
                <div class="form-group">
                    <label for="input-admin">Create Admin User</label>
                    <input type="checkbox" class="form-control"
                           id="input-admin"
                           name="admin" style="width: 320px;">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-default btn-lg input-lg">Log In
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div style="height: 100px;">
    </div>

</div>
{% endblock %}